<ion-content>
 <div class="cuerpo">
  <div class="titulo">
    <span class="Bienvenido">Bienvenido</span>
    <span class="Inicio">Inicio de sesión</span>
  </div>
  <div class="form">
    <div class="campo">
      <span class="form-text">Correo Electrónico</span>
      <ion-input color="primary" type="email" class="form-input" [(ngModel)]="usuario"></ion-input>
    </div>
    <div class="campo">
      <span class="form-text">Contraseña</span>
      <ion-input color="primary" type="password" class="form-input" [(ngModel)]="clave"></ion-input>
    </div>
  </div>
  <div class="caja">
    <a [routerLink]="['/recuperar']"><span class="recuperar">Recuperar contraseña <img src="assets/icon/flecha.png" alt="flecha"> </span></a>
    <ion-text class="error" *ngIf="loginFailed">
      Correo o clave incorrectos.
    </ion-text>
  </div>
  <div class="botones">
    <ion-button class="boton" color="#20517E" (click)="login(usuario, clave)">
      @if (isLoading) {
        <ion-spinner name="bubbles"></ion-spinner>
      }
      @else {
        Iniciar sesión
      }
    </ion-button>
    <span class="o">o</span>
    <span class="reg">Registrarse</span>
  </div>
 </div>

  <app-footer></app-footer>
</ion-content>
