<ion-content>
  <router-outlet>
    <app-header></app-header>
      <div class="cuerpo" *ngIf="isAuthenticated; else notAuthenticated">
        <ion-searchbar class="custom" [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar>
        <ion-list>
          <div style="margin-bottom: 4px;" *ngFor="let result of results">
            <app-asignaturas
            [spanText]="result"
            ></app-asignaturas>
          </div>
        </ion-list>
      </div>
      <ng-template #notAuthenticated>
        <div class="cuerpo">
          <p>No existen datos</p>
        </div>
      </ng-template>
  </router-outlet>
</ion-content>
<app-footer></app-footer>
