<div class="contenedor" [ngClass]="divClass">
  <div class="cont_tipo1"  (click)="toggleDiv()" [ngClass]="{ 'bg-active': isVisible, 'bg-inactive': !isVisible }">
    <span>{{ spanText }}</span>
    <img src="assets/icon/arrow_forward_ios_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.png" alt=">" [ngClass]="{ 'rotate-img': isVisible }">
  </div>
  <div class="hidden-div" [ngClass]="{ 'show-div': isVisible, 'show-qr':isVisibleQr && isVisible}">
    @if (profesor) {
      <div class="btn-ge-qr">
        <div>
          <button class="boton" (click)="activateDivQr()">
            Generar CódigoQR 
            <img src="assets\icon\qr_code_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.png" alt="QR">
          </button>
        </div>
        <div class="hidden-div-qr" [ngClass]="{ 'show-div-qr': isVisibleQr && isVisible}">
          <img src="assets\fotos\frame.png" alt="walter" class="hidden-qr" [ngClass]="{'show-qr': isVisibleQr}">
        </div>
      </div>      
    }
    @else {
      <button class="boton">Escanear CódigoQR <img src="assets\icon\qr_code_scanner_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.png" alt="QR"></button>
    }
  </div>
</div>