.cont_tipo1{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #cfcfcf;
  padding: 16px;
  img{
    height: 16px;
  }
}
