<ion-content>
  <router-outlet>
    <app-header></app-header>
    <section class="cuerpo">
      <div class="subheader">
        <span>
          Todas tus asignaturas
        </span>
        <span>
          Septiembre 2024
        </span>
      </div>
      <div class="lista">
        <app-materia
        [materia]="'Programacion Movil'">
        </app-materia>
        <app-materia
        [materia]="'Programacion Web'">
        </app-materia>
        <app-materia
        [materia]="'Base de datos'">
        </app-materia>
        <app-materia
        [materia]="'Ingles'">
        </app-materia>
      </div>
    </section>
  </router-outlet>
</ion-content>
<app-footer></app-footer>
